*.a
*.cache
*.log
*.o
*.trs
*~
.DS_Store
.deps
.dirstamp
.svn
/aclocal.m4
/ar-lib
/bliplay/bliplay
/compile
/config.guess
/config.h
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/nbproject
/stamp-h1
/test-driver
Makefile
Makefile.in
